<h5 class="pink-text text-darken-2 center">
  <p id="notice"><%= notice %></p>
</h5>

<section class="blog-font">
  <h1 class="center">Blog </h1>
  <!--Intro Card-->
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card pink lighten-3">
        <div class="card-content white-text center">
            <p>
            This blog largely reflects my own learning experience. I keep this 
            blog as a personal reference for ongoing projects and hope they can teach 
            you something as well. Feel free to reach out for suggestions!</p>
          </div>
        </div>

          <!--<div class="col s12 m12 text-center">-->
          <!--  <= button_to "Ruby on Rails", ruby_on_rails_blogs_path, class: "waves-effect waves-light btn" %>-->
          <!--  <= button_to "Javascript", javascript_blogs_path, class: "waves-effect waves-light btn" %>-->
          <!--  <= button_to "Personal Development", personal_development_blogs_path, class: "waves-effect waves-light btn" %>-->
          <!--  <= button_to "Other", other_blogs_path, class: "waves-effect waves-light btn" %>-->
          <!--</div>    -->
          
        </div>
      </div>
    </div>
  </div>
  
  <div class="col s12 center pagination">
    <%= will_paginate @blogs %>
  </div>
  
  <!--Cards-->
  <% @blogs.sort_by{|item| item.created_at}.reverse.each do |blog| %>
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card white-text center">
          <!--Image-->
          <div class="card-image waves-effect waves-block waves-light">
            <%= link_to image_tag(blog.image), blog_path(blog) if blog.image %>
          </div>
          <div class="card-content white-text center">
            <span class="blog-topic"><%= blog.topic %></span>
            </br>
            <span class="card-title">
              <!--Title-->
              <%= link_to blog.title, blog_path(blog) %>
            </span>
            <!--Date-->
            <p><%= link_to blog.created_at.strftime("%B %e, %Y"), blog_path(blog) %></p>
           <div class="blog-body">
            <%= truncate(blog.body, length: 300) %>
          </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="col s12 center pagination">
    <%= will_paginate @blogs %>
  </div>
  
</section>