<p id="notice"><%= notice %></p>

<section class="blog-font">
  <h1 class="center"> Blog </h1>
  <!--Intro Card-->
  <div class="row">
    <div class="col s12 m6 offset-m3">
      <div class="card pink lighten-3">
        <div class="card-content white-text center">
          <div class="card-title">
            Welcome!
          </div>
          <p>
          I hope that my posts will teach you something new or
          clear up confusing topics. During my programming learning process, I've come to understand that 
          explaining code to others helps me tremendously in my personal understanding of concepts
          and patterns.</p>
            
            <p>Feel free to reach out for any suggestions to my posts! I am still learning.</p>

          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col s12 m6 offset-m3 center">
    <%= will_paginate %>
  </div>
  
  <!--Cards-->
  <% @blogs.sort_by{|item| item.created_at}.reverse.each do |blog| %>
    <div class="row">
      <div class="col s12 m4 offset-m4">
        <div class="card white-text center">
          <!--Image-->
          <div class="card-image waves-effect waves-block waves-light">
            <%= link_to image_tag(blog.image), blog_path(blog) if blog.image %>
          </div>
          <div class="card-content white-text center">
            <span class="card-title">
              <!--Title-->
              <%= link_to blog.title, blog_path(blog) %>
            </span>
            <!--Date-->
            <p><%= link_to blog.created_at.strftime("%B %e, %Y"), blog_path(blog) %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  
</section>