<%= form_for(@rails_project) do |f| %>
  <div class="row">
    <div class="col s12 m6 offset-m3 l4 offset-l4">
      <% if @rails_project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@rails_project.errors.count, "error") %> prohibited this rails_project from being saved:</h2>
    
          <ul>
          <% @rails_project.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
    
      <div class="input-field">
        <%= f.label :title %><br>
        <%= f.text_field :title %>
      </div>
      <div class="input-field">
        <%= f.label :description %><br>
        <%= f.text_area :description, rows: 3, class: "materialize-textarea" %>
      </div>
      <div class="input-field">
        <%= f.label :points %><br>
        <%= f.text_area :points, rows: 10, class: "materialize-textarea" %>
      </div>
      <div class="input-field">
        <%= f.label :github %><br>
        <%= f.text_field :github %>
      </div>
      <div class="input-field">
        <%= f.label :live_link %><br>
        <%= f.text_field :live_link %>
      </div>
      <div class="input-field">
        <%= f.label :image %><br>
        <%= f.text_field :image %>
      </div>
      <div class="btn waves-effect waves-light">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
