<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text text-lighten-2">Portfolio</h1>
    </div>
  </div>
  <div class="parallax"><%= image_tag("pinkroses.jpg", alt: "Unsplashed background img 3") %></div>
</div>


<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 ">
        <div class="icon-block">
          
          <!--Header portfolio-->
          <h2 class="center brown-text"><i class="material-icons">Ruby on Rails</i></h2>
          <h5 class="center">Personal Projects</h5>

          <p class="light center">I created the following projects by consulting countless online references, online bootcamps, and books. </p>
          </br>
          
          <a href="#one" class="goto-next scrolly"></a>
          
          <!--Pagination-->
          <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons"><</i></a></li>
            <li><%= link_to "1", portfolio_path(anchor: "one"), class: "waves_effect" %></li>
            <li><%= link_to "2", portfolio2_path(anchor: "one"), class: "waves_effect" %></li>
            <li><%= link_to "3", portfolio3_path(anchor: "one"), class: "active" %></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">></i></a></li>
          </ul>
          <!--End Pagination-->
          
          
          <!--Globetrotter-->
          <div class="row">
            <div class="col s12">
              <hr/>
                <div class="col s12 l7"><span class="flow-text">Third</span>
                 <p> 
                   <ul class="no-ul-styling">
                     <li>A membership based, visually-rich platform that allows users to share their travel stories for free with the community.</li>
                   </ul>
                   <ul class="portfolio">
                    <li>Developed from scratch without scaffolding.</li>
                    <li>Created and implemented database architecture for the application using SQLite3.</li>
                    <li>Created user authentication system from scratch without gems.</li>
                    <li>Designed UI of the pages using custom CSS, Twitter Bootstrap, Font Awesome, and JavaScript/JQuery.</li>
                    <li>Applied a test driven (TDD) approach through entire development process.</li>
                    <li>Deployed application using Heroku.</li>
                    <li>Set up and connected application to Amazon Web Services (AWS S3) for image uploads. </li></p>
                   </ul>
                   
                   <ul class="no-ul-styling">
                     <li><i class="fa fa-github"></i> <%= link_to "GitHub Repository", 'https://github.com/sanlouise/globetrotter' %> </li>
                   </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("globetrotter_s.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
          </div>
          <!--End Globetrotter-->

          
          <!--StockTracker-->
          <div class="row">
            <div class="col s12">
              <hr/>
                <div class="col s12 l7"><span class="flow-text">Stock Tracker</span>
                 <p> 
                   <ul class="no-ul-styling">
                     <li>Users can easily search and track stocks. They can also follow what their friends are tracking.</li>
                   </ul>
                   <ul class="portfolio">
                    <li>Developed from scratch with scaffolding.</li>
                    <li>Designed UI with custom CSS, Sass, Twitter Bootstrap and JavaScript/JQuery.</li>
                    <li>Used Yahoo API for tracking stock markets.</li>
                    <li>Applied Devise gem for user authentication.</li>
                    <li>Implemented auto complete search function using AJAX.</li>
                    <li>Implemented ‘adding friends’ functionality.</li>
                    <li>Deployed application using Heroku with PostgreSQL.</li>
                   </ul>
                   
                   <ul class="no-ul-styling">
                     <li><i class="fa fa-github"></i> <%= link_to "GitHub Repository", 'https://github.com/sanlouise/stocktracker' %> </li>
                   </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("Stocktracker_s.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
          </div>         
          
          <!--End StockTracker-->

          <div class="row">
            <div class="col s12 center">
              <hr/>
              
                    <!--Pagination-->
                    <ul class="pagination center">
                      <li class="disabled"><a href="#!"><i class="material-icons"><</i></a></li>
                      <li><%= link_to "1", portfolio_path(anchor: "one"), class: "waves_effect" %></li>
                      <li><%= link_to "2", portfolio2_path(anchor: "one"), class: "waves_effect" %></li>
                      <li><%= link_to "3", portfolio3_path(anchor: "one"), class: "active" %></li>
                      <li class="waves-effect"><a href="#!"><i class="material-icons">></i></a></li>
                    </ul>
                    <!--End Pagination-->    

                <!--Contact Button-->
              <a class="waves-effect waves-light btn pink darken-1">Contact Me</a>
            </div>
          </div>  
          

        </div>
      </div>
    </div>
  </div>
</div>

