<main>
  <div id="index-banner" class="parallax-container">
    <div class="parallax"><%= image_tag("pinkroses.jpg", alt: "banner img") %></div>
    <br><br>
 -  <h1 class="header center white-text text-lighten-2">Portfolio</h1>	
    </div>
  
  <div class="container">
    <div class="section">
      
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12">
          <div class="icon-block">

          
          <!--Header portfolio-->
          <h2 class="center brown-text">Ruby on Rails</h2>
          <h5 class="center">Personal Projects</h5>

          <p class="light center">I created the following projects by consulting countless online references, online bootcamps, and books. </p>
          </br>
          
          <a href="#one" class="goto-next scrolly"></a>
          
          <!--Pagination-->
          <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons"><</i></a></li>
            <li><%= link_to "1", portfolio_path(anchor: "one"), class: "waves_effect" %></li>
            <li><%= link_to "2", portfolio2_path(anchor: "one"), class: "active" %></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">></i></a></li>
          </ul>
          <!--End Pagination-->
          
          
          <!--PRJCT.APP-->
          <div class="row">
            <div class="col s12">
              <hr/>
                <div class="col s12 l7"><span class="flow-text">PRJCT.APP</span>
                 <p> 
                   <ul class="no-ul-styling">
                     <li>Paying users can create projects for their organizations to manage deadlines and to store relevant documents. Users can add (non-paying) users to their projects.</li>
                   </ul>
                   <ul class="portfolio">
                     <li>Used Devise for user authentication.</li>
                     <li>Integrated Milia gem for multi-tenancy.</li>
                     <li>Integrate application with SendGrid for email handling.</li>
                     <li>Implement Stripe for payment handling and applied Javascript validations.</li>
                     <li>Connected application to Amazon Web Services (AWS S3).</li>
                     <li>Designed UI of the pages using custom CSS, Twitter Bootstrap, and JavaScript/JQuery.</li>
                   </ul>
                   
                   <ul class="no-ul-styling">
                     <li><i class="fa fa-github"></i> <%= link_to "GitHub Repository", 'https://github.com/sanlouise/projectmanagement' %> </li>
                   </ul>
                </div>
                <div class="col s12 l5">
                  <%= image_tag("project_s.png", class: "responsive-img z-depth-2") %>
                </div>
              </div>
          </div>
          <!--End PRJCT.APP-->
          
          <!--End StockTracker-->

          <div class="row">
            <div class="col s12 center">
              <hr/>
              
          <!--Pagination-->
          <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons"><</i></a></li>
            <li><%= link_to "1", portfolio_path(anchor: "one"), class: "waves_effect" %></li>
            <li><%= link_to "2", portfolio2_path(anchor: "one"), class: "active" %></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">></i></a></li>
          </ul>
          <!--End Pagination-->
              
              
              
              <a class="waves-effect waves-light btn pink darken-1">Contact Me</a>
            </div>
          </div>  
          

        </div>
      </div>
    </div>
  </div>
</div>

