<div id="index-banner" class="parallax-container">
  <div class="parallax"><%= image_tag("bestroses.jpg", alt: "banner img") %></div>
  <br><br>
  <h1 class="header center white-text text-lighten-2">Portfolio</h1> 
</div>

<div class="container">
  <div class="section">
    
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12">
        <div class="icon-block">

          <p class="light center">I created the following projects by consulting countless online references, online bootcamps, and books.</p>

          <!--Header portfolio-->
          <h2 class="center brown-text">
             My <span style="color:#F6358A"><%= params[:project_type] if params[:project_type] %></span> Projects
          </h2>

          <div class="center">

            <h5>Filter by Category:</h5>

            <% if params[:project_type] %>
              <%= link_to "View All Projects", projects_path, class: "orange-text text-darken-2" %>
              <br /><br />

            <% end %>

            <%= link_to "JavaScript", projects_path(project_type: 'JavaScript'), class:"btn waves-effect waves-light pink darken-1" %>
            | <%= link_to "Ruby on Rails", projects_path(project_type: 'Ruby on Rails'), class:"btn waves-effect waves-light pink darken-1" %>
            | <%= link_to "iOS", projects_path(project_type: 'iOS'), class:"btn waves-effect waves-light pink darken-1" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row"> 
    <%= render 'projects', projects: @projects %>
      <% if !params[:project_type] %>
        <hr />
        <h3 class="center">
          Also see My <span style="color:#F6358A"><%= link_to "iOS Projects", projects_path(project_type: 'iOS') %></span>.

        </h3>
      <% end %>
  </div>
</div>
