<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<body>
	<div class="wrapper">
	  <div id="content">
	    <%= render 'layouts/nav' %>
			<%= render 'layouts/messages' %>
	    <%= yield %>
		 </div>
	
		<div id="footer">
			<%= render 'layouts/footer' %>
		</div>
	</div>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
</body>
</html>
