<!DOCTYPE html>
<html>
	<body>
	<div id="wrapper">
		<div id="header">
			<%= render 'layouts/head' %>
		</div>

		<div id="content">
			<%= render 'layouts/nav' %>
			<%= render 'layouts/messages' %>
      <%= yield %>
		 </div>

		<div id="footer">
			<%= render 'layouts/footer' %>
			<div style="clear: both"></div>
		</div>

		<div style="clear: both;"></div>
	</div>
	
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
	
	</body>
</html>
