<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<main>
	<body>
	  <div id="content">
	    <%= render 'layouts/nav' %>
			<%= render 'layouts/messages' %>
	    <%= yield %>
		 </div>
</main>		
	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>  
	</body>
</html>
