<!DOCTYPE html>
<html>
<head>
	<%= render 'layouts/head' %>
</head>
<main>
<body>
    <header>
    	<%= render 'layouts/nav' %>
	</header>

	<main>
		<div id="content">
		    <%= yield %>	 
		</div>
	</main>

	<div id="footer">
		<%= render 'layouts/footer' %>
	</div>

	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	
</body>
</html>
